@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

:root{
    /*Colores*/
    --primary: #FFFFFF;
    --secondary: #000000;
    /*Fuente*/
    --font-lato: 'Lato', sans-serif;
    /*Tamaños*/
    --title: 60px;
    --small: 20px;
    /*Estilos*/
    --style-normal: normal;
    --style-bold: bold;
    --style-semibold: 500;
}

body{
    max-width: 1280px;
}

h1{
    font-size: var(--title);
    font-weight: var(--style-semibold);
    font-family: var(--font-lato);
    color: var(--primary);
}

p{
    font-size: var(--small);
    font-weight: var(--style-normal);
    font-family: var(--font-lato);
    color: var(--primary);
}

.hero{
    position: relative;
    width: 1280px;
    height: 844.5px;
}

.hero-background{
    position: absolute;
    background-color: #8F6AA6;
    transform: skewY(3deg);
    width: inherit;
    height: inherit;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -50%);
}

.img-hero{
    position: absolute;
}

.elf{
    top: 21%;
    left: 55%;
    z-index: 1;
}

.game-hero{
    top: 69%;
    left: 5%;
}

.description{
    display: flex;
    justify-content: center;
    margin-top: 235px;
}

.cont-desc{
    display: flex;
    flex-direction: column;
    margin: 18px;
}

.cont-desc p{
    color: var(--secondary);
    margin-top: 15px;
}