@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

:root{
    /*Colores*/
    --primary: #FFFFFF;
    --secondary: #000000;
    --sky: #5499F8;
    /*Fuente*/
    --font-lato: 'Lato', sans-serif;
    /*Tamaños*/
    --title: 60px;
    --small: 20px;
    /*Estilos*/
    --style-normal: normal;
    --style-bold: bold;
    --style-semibold: 500;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 1080px;
}

.container-fluid{
    width: 100vw;
}

h1{
    font-size: var(--title);
    font-weight: var(--style-semibold);
    font-family: var(--font-lato);
    color: var(--primary);
}

p{
    font-size: var(--small);
    font-weight: var(--style-normal);
    font-family: var(--font-lato);
    color: var(--primary);
}

.hero-images{
    position: relative;
    height: 720px;
    background-image: url('../images/hero/sky.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.building-left{
    left:-4.5%;
    top: 8%;
    transform: translate(0%, 3%);
}

.building-center{
    top: 50%;
    left: 50%;
    transform: translate(-45.5%, 95%);
}

.building-right{
    right: -0.5%;
    transform: translate(0%, 8%);
}

.logo{
    left: 30%;
    transform: translate(0%, 12%);
}

.hero-pjs{
    position: absolute;
    top: 35%;
    left: 40%;
}

.w-spider{
    left: -39%;
    transform: translate(0%, 17%);
}

.b-spider{
    left: 18.5%;
    transform: translate(0%, 7%);
}

.spider{
    left: -9.5%;
    transform: translate(0%, 18%);
    z-index: 2;
}

.l-web{
    left: -48%;
    transform: translate(0%, 9%);
    z-index: 3;
}

.r-web{
    left: 45%;
    transform: translate(0%, 20%);
    z-index: 3;
}

.hero{
    height: 844.5px;
    background-image: url('../images/hero/background.png');
    background-size: 100% 90% ;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}

.hero-section{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.hero-text{
    position: absolute;
    transform: translate(2%, 50%);
    z-index: 2;
}

.img-hero{
    position: absolute;
}

.elf{
    transform: translate(130%, 14.5%);
    width: 497.7px;
    height: 828.29px;
    z-index: 3;
}

.game-hero{
    transform: translate(0%, 97%);
    z-index: 2;
}

.description{
    display: flex;
    justify-content: center;
    margin-top: 235px;
}

.cont-desc{
    display: flex;
    flex-direction: column;
    margin: 18px;
}

.cont-desc p{
    color: var(--secondary);
    margin-top: 15px;
}

/***************PRELOADER*********************/

.body-hide{
    overflow: hidden;
}

.container-preloader{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--sky);
    opacity: 0.95;
    /*height: 120vh;
    width: 100%;*/
    margin:auto;
    z-index: 5;
}

.ring-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ring{
    position:absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

.ring:before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(234, 197, 197, 0.9);
}

.ring-box span{
    color: var(--primary);
    letter-spacing: 1px;
    line-height: 200px;
}

@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px rgb(237, 23, 23);
    }
    10%{
        transform: rotate(36deg);
        box-shadow: 1px 5px 2px rgba(255, 245, 46);
    }
    20%{
        transform: rotate(72deg);
        box-shadow: 1px 5px 2px rgb(5, 180, 255);
    }
    30%{
        transform: rotate(108deg);
        box-shadow: 1px 5px 2px rgb(0, 81, 255);
    }
    40%{
        transform: rotate(144deg);
        box-shadow: 1px 5px 2px rgb(46, 220, 255);
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px rgba(255, 245, 46);
    }
    60%{
        transform: rotate(216deg);
        box-shadow: 1px 5px 2px rgb(255, 130, 46);
    }
    70%{
        transform: rotate(252deg);
        box-shadow: 1px 5px 2px rgb(237, 23, 23);
    }
    80%{
        transform: rotate(288deg);
        box-shadow: 1px 5px 2px rgba(255, 245, 46);
    }
    90%{
        transform: rotate(324deg);
        box-shadow: 1px 5px 2px rgb(13, 5, 255);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px rgb(255, 130, 46);
    }
}

.line-box{
    display:flex;
    align-items: center;
    padding: 2px;
    width: 200px;
    height: 20px;
    border: 2px solid #214FA4;
    border-radius: 20px;
}

.charger{
    height: 20px;
    border-radius: 20px;
    background-color: #DE2630;
    animation: loading 5s forwards cubic-bezier(0,0,0,0);
}

@keyframes loading{
    0%{
        width:0%;
    }
    100%{
        width: 100%;
    }
}

.charger-box{
    margin-top: 20px;
}

/************************************/