*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

:root{
    /*Colores*/
    --primary: #8B7AAE;
    --primary-light1: #A799C5;
    --primary-light2: #CBBFE4;
    --primary-light3: #EAE3FC;
    --primary-dark1: #7C569A;
    --primary-dark2: #483A62;
    --primary-dark1: #2C2436;
    --secondary: #C1B87E;
    --secondary-light1: #D2CB9E;
    --secondary-light2: #E6E1C0;
    --secondary-light3: #EAE8D7;
    --secondary-dark1: #B2A762;
    --secondary-dark2: #A59848;
    --secondary-dark1: #867824;
    --accent: #A707FF;
    --neutral: rgba(149, 135, 157, 0.53);
    --neutral-light: #F8F4FF;
    --neutral-dark: #1D1824;
    --success: #37DE8E;
    --warning: #F8E220;
    --cancel: rgba(183, 49, 49, 0.76);
    --font: 'Roboto', sans-serif;
    --style1: normal;
    --style2: bold;
    --heading: 40px;
    --subtitle: 32px;
    --third-title: 18px;
}

body{
    background-color: var(--neutral-dark);
}

header{
    display:flex;
}

.carrusel{
    padding: 30px;
    display: flex;
    flex-wrap: nowrap;
    width: 1410px;
    size: auto;
    overflow: hidden;
    white-space: nowrap;
    
}

.card{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.card-img{
    width: 210px;
    height: 120px;
    border: 2px solid transparent;
    border-radius: 14px;
}

.difference{
    mix-blend-mode:difference;
}

.normal{
    mix-blend-mode:normal;
}

.card .card-img:hover {
    border: 2px solid var(--accent); /* Establece un borde de 2 píxeles en color negro al pasar el mouse por encima */
}

  
h3{
    color: var(--neutral-light);
    position: absolute;
    top: 15px;
    right: 0px;
    padding-right: 20px;
    padding-top: 5px;
    text-align: left;
    font-family: var(--font);
    font-size: var(--third-title);
    font-weight: var(--style2);
}

.icon-medium{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-paid{
    position: absolute;
    bottom: 15%;
    left: 8%;
}

.icon-cart{
    position: absolute;
    bottom: 15%;
    right: 8%;
}