.carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.card{
    flex: 1 0 auto;
    margin: 0 50px;
    background-color: red;
    width: 210 px;
    height: 120 px;
    border-radius: 13px;
}